<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Suite">
    <test name="Test Basics 1">

        <classes>
            <class name="com.neurosoft.test.HomeTest"/>
            <class name="com.neurosoft.test.LoginTest"/>
            <class name="com.neurosoft.test.SignoutTest"/>

        </classes>
    </test> <!-- Test -->


</suite>
